* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body,
.wrap {
    width: 100%;
    height: 100%;
}

.wrap {
    width: 100%;
    height: 100%;
    flex-direction: column;
    font-size: .14rem;
    display: flex;
}

.main {
    flex: 1;
    overflow: hidden;
    overflow-y: scroll;
}

.header {
    background: red;
    height: .48rem;
}

.footer {
    height: .48rem;
    border-top: 1px solid #dfdfdf;
    display: -webkit-flex;
}

.footer dl {
    flex: 1;
    height: .45rem;
    margin-top: .03rem;
}

.footer dt {
    text-align: center;
}

.footer dt i {
    font-size: .20rem;
}

.footer dd {
    font-size: .12rem;
    text-align: center;
    line-height: .22rem;
    color: #707070;
}